<md-tab-group>
    <md-tab label="Sign In">
        <div class="big-box">
            <p>
                <md-input-container class="long-input">
                    <md-placeholder>
                        Email
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="user_email" />
                </md-input-container>
                <br/>
                <md-input-container class="long-input">
                    <md-placeholder>
                        Password
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="user_password" type="password" />
                </md-input-container>
            </p>

        </div>
    </md-tab>
    <md-tab label="Sign Up">
        <div class="big-box">
            <p>
                <md-input-container class="long-input">
                    <md-placeholder>
                        Nick Name
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="user_nickname" />
                </md-input-container>
                <md-input-container class="long-input">
                    <md-placeholder>
                        Account Name
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="user_account" />
                </md-input-container>
                <md-input-container class="long-input">
                    <md-placeholder>
                        Email
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="user_email" />
                </md-input-container>
                <br/>
                <md-input-container class="long-input">
                    <md-placeholder>
                        Password
                        <md-icon>mode_edit</md-icon>
                    </md-placeholder>
                    <input mdInput [(ngModel)]="user_password" type="password" />
                </md-input-container>
            </p>
        </div>
    </md-tab>
</md-tab-group>