@import '~@angular/material/theming';
$config: mat-typography-config();
@include mat-core();
$mycolor: map-get($mat-teal, 100);
.long-input {
    width: 70%;
}

// button.mat-raised-button {
//     color: map-get($mat-teal, 50);
//     background: map-get($mat-teal, 300);
// }