<div class="bulletin-container">
    <div class="bulletin-column">
        <div class="bulletin-unit">
            <md-card>
                <div class="title">
                    About Plank Blog
                </div>
                <p class="welcome">Hello <span class="name">Water What</span> ~ Here is my new site.</p>
            </md-card>
        </div>
    </div>
    <div class="bulletin-column">
        <div class="bulletin-unit">
            <md-card>
                <div class="title">
                    About Plank Blog
                </div>
                <p class="welcome">Hello <span class="name">Water What</span> ~ Here is my new site.</p>
            </md-card>
        </div>
    </div>
    <div class="bulletin-column">
        <div class="bulletin-unit">
            <md-card>
                <div class="title">
                    About Plank Blog
                </div>
                <p class="welcome">Hello <span class="name">Water What</span> ~ Here is my new site.</p>
                <p class="welcome">Hello <span class="name">Water What</span> ~ Here is my new site.</p>
                <p class="welcome">Hello <span class="name">Water What</span> ~ Here is my new site.</p>
            </md-card>
        </div>
    </div>
</div>