<div class="page-container" id="top">
    <md-card>
        <div class="title">
            Home Page
        </div>
        <p class="unicorn-title">Hello there~, write something here, see what happen~</p>
        <md-tab-group MdTabGroup [dynamicHeight]="dynamic_height" [selectedIndex]="tab_select" (selectedIndexChange)="select_change($event)" disableRipple="false" class="md-editor">
            <md-tab label="Input" #duInput>
                <div class="input-test" id="tab1">
                    <md-input-container>
                        <textarea mdInput mdTextareaAutosize [(ngModel)]="selectTitle" [mdAutosizeMinRows]="min_rows"></textarea>
                    </md-input-container>
                </div>
            </md-tab>
            <md-tab label="Output" #duOutput>
                <div id="tab2">
                    <markdown [data]="selectTitle" isatisMd></markdown>
                </div>
            </md-tab>
        </md-tab-group>
        <button md-fab (click)="select1()" class="markdown-editor" *ngIf="_scrollor.show_scroll"><md-icon class="big-icon">navigate_before</md-icon></button>
        <button md-fab (click)="select2()" class="markdown-showup" *ngIf="_scrollor.show_scroll"><md-icon class="big-icon">navigate_next</md-icon></button>
    </md-card>
</div>