.name {
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #ff0000;
}

.title {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.mat-input-container .mat-datepicker-toggle,
.mat-input-container .mat-icon {
    font-size: 1.5em;
}