<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <base href="{{ basepath }}"/>
  <title>email</title>
</head>
<body bgcolor="#FFFFFF" style="margin:0 auto;">
<table width="676" border="0" cellpadding="0" cellspacing="0" align="center"
       style="margin:0 auto; font-size:14px; line-height:18px; color:#808080;font-family:Ubuntu,Lato,Arial,Helvetica,sans-serif;">
  <tr>
    <td colspan="7" height="30"></td>
  </tr>
  <tr>
    <td colspan="7" height="70" align="center" valign="top">

      {% if email_logo %}

      <div class="ws_logo" style="float:left; padding-right:12px; ">
        <img src="{{ email_logo }}" height="100" class="maxW" alt="Wondershare">
      </div>

      {% else %}

      <div class="ws_logo" style="float:left; padding-right:12px; border-right:solid 1px #ced3d6;">
        <a href="https://pdf.wondershare.com/" title="PDFelement">
          <img src="{{ pe_logo }}" height="40" alt="PDFelement">
        </a>
      </div>
      <div id="logo" style="float:left; padding-left:12px; border-left:solid 1px #607078;">
        <a title="eSign+" href="{{ esign_domain }}">
          <img src="{{ esign_logo }}" height="41" class="maxW" alt="eSign+">
        </a>
      </div>

      {% endif %}

    </td>
  </tr>
  <tr>

    {% if header_image %}

    <td colspan="2" width="272" height="76"></td>
    <td colspan="4" width="136" align="center">
      <img src="{{ header_image }}" width="100" height="100" style="border-radius:50%; border:solid 3px #dddddf;"
           alt="photo">
    </td>
    <td width="268"></td>

    {% else %}

    <td colspan="2" width="272" height="76"></td>
    <td colspan="4" width="136" align="center">
      <img src="{{ default_header }}" width="100" height="100" style="border-radius:50%; border:solid 3px #dddddf;"
           alt="photo">
    </td>
    <td width="268"></td>

    {% endif %}

  </tr>
  <tr>
    <td colspan="7" height="79" align="center">
      <span style="font-size:18px;">{{ message }}</span>
    </td>
  </tr>

  {% if box_message %}

  <tr>
    <td colspan="7" height="38" align="center" valign="bottom">
      <span style="color:#c8c8c8; line-height:26px;">Message Included</span>
    </td>
  </tr>
  <tr>
    <td colspan="7" style="border:solid 1px #b7b7b7; padding-left:17px; padding-right:17px;">
				<span style="font-size:18px; line-height:48px; font-style:italic;">
					{{ box_message }}
					<br/>
					-- {{ sender }}
				</span>
    </td>
  </tr>
  <tr>
    <td colspan="7" height="23"></td>
  </tr>
  <tr>
    <td colspan="7" height="42" align="center">
      <img src="{{ default_pen }}" width="44" height="42" alt="pencil">
    </td>
  </tr>

  {% endif %}

  <tr>
    <td colspan="7" height="64" align="center">
      <a href="{{ button_link }}"
         style="display:inline-block; padding:10px 54px; background-color:#0f9ddb; border-radius:5px; color:#fff; font-size:18px; text-transform:uppercase; line-height:24px; text-decoration:none;">{{
        button_text }}</a>
    </td>
  </tr>
  <tr>
    <td colspan="7" height="50" align="center">
      <span style="font-size:12px; line-height:15px; color:#c8c8c8;">
			  In case the above link doesn’t work, copy and paste this text into your browser:
				<br/>
				{{ button_link }}
      </span>
    </td>
  </tr>
  <tr>
    <td colspan="7" height="35"></td>
  </tr>
  <tr>
    <td width="234"></td>
    <td width="38"></td>
    <td width="44"></td>
    <td width="44"></td>
    <td width="2"></td>
    <td width="46"></td>
    <td width="268"></td>
  </tr>
</table>
</body>
</html>