<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <base href="{{ base_url }}"/>
  <title>Wondershare eSign+ password change request</title>
</head>
<body bgcolor="#FFFFFF" style="margin:0 auto;">
<table width="476" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; font-size:14px; line-height:18px; color:#808080;font-family:Ubuntu,Lato,Arial,Helvetica,sans-serif;">
  <tr>
    <td colspan="7" height="30"></td>
  </tr>
  <tr>
    <td colspan="7" height="70" align="center" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td width="50%">
            <div class="ws_logo" style="float:right; padding-right:12px; border-right:solid 1px #ced3d6;">
              <a href="https://pdf.wondershare.com/" title="PDFelement">
                <img src="{{ base_static_url }}/resource/default/dist/images/pe_logo.png" height="40" alt="PDFelement">
              </a>
            </div>
          </td>
          <td>
            <div id="logo" style="float:left; padding-left:12px; border-left:solid 1px #607078;">
              <a title="eSign+" href="{{ base_url }}">
                <img src="{{ base_static_url }}/resource/default/dist/images/esign_logo.jpg" height="41" class="maxW" alt="eSign+">
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  <tr>
    <td colspan="7" height="79" style="border-bottom:solid 1px #ddd;">
      <span style="font-size:18px; line-height:30px;">Hello<br/> {{ address }}</span></td>
  </tr>
  <tr>
    <td colspan="7" height="24"></td>
  </tr>
  <tr>
    <td colspan="7">We have received a password change request from your eSign+ account. If you made this request, then
      you can reset your password by click the link here:
    </td>
  </tr>
  <tr>
    <td colspan="7" height="24"></td>
  </tr>
  <tr>
    <td colspan="7" height="64" align="center">
      <a href="{{ button_link }}" style="display:inline-block; padding:10px 54px; background-color:#0f9ddb; border-radius:5px; color:#fff; font-size:18px; text-transform:uppercase; line-height:24px; text-decoration:none;">Reset
        Password</a></td>
  </tr>
  <tr>
    <td colspan="7" height="24"></td>
  </tr>
  <tr>
    <td colspan="7">If you did not ask to change your password, please ignore this email. Someone may have enterd your
      email by mistake.No changes will be made to your account.<br/><br/>
      Thanks,<br/><br/>
      Wondershare eSign+
    </td>
  </tr>
  <tr>
    <td colspan="7" height="35"></td>
  </tr>
  <tr>
    <td width="234"></td>
    <td width="38"></td>
    <td width="44"></td>
    <td width="44"></td>
    <td width="2"></td>
    <td width="46"></td>
    <td width="268"></td>
  </tr>
</table>
</body>
</html>