<md-toolbar color="primary">
    <content class="isatis-nav">

        <span><a routerLink="home"><button md-button>Star-T</button></a></span>
        <span><a routerLink="article"><button md-button>home</button></a></span>
        <span><a routerLink="profile"><button md-button>Profile</button></a></span>
        <span class="example-spacer"></span>
        <span><a routerLink="article"><button md-button>Log In</button></a></span>
        <span><a routerLink="profile"><button md-button>Log Out</button></a></span>
    </content>
</md-toolbar>
<content class="isatis-article">
    <router-outlet></router-outlet>
</content>