<div class="page-container" id="top">
    <div class="example-container">
        <div class="add-button">
            <p *ngIf="!tip_list.length" class="grey-title">
                no tips here, try to add one
            </p>
            <md-card *ngFor="let tip of tip_list" class="tips">
                <div class="title" id="{{tip.id}}">
                    {{ tip.title }}
                </div>
                <p class="welcome">{{ tip.content }}</p>
            </md-card>
            <a md-fab color="primary" routerLink="/bulletin" fragment="A">
                <md-icon>add</md-icon>
            </a>
        </div>
    </div>
</div>