<!DOCTYPE html>
<html lang="en">

<head>
    <title>detail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <section>

        <div style="width: 600px; color:#747474; font-size:14px; line-height:2em;">
            <h1 style="margin: 0;">{{ file.file_name }}</h1>

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:40px">
                <tbody>
                    <tr>
                        <td height="25"></td>
                    </tr>
                    <tr>
                        <td height="25" style="font-size:18px;color:#1c9fd9; vertical-align: top;">Basic Information</td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                </tbody>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td width="155">Document ID: </td>
                        <td>{{ file.file_id }}</td>
                    </tr>
                    <tr>
                        <td width="155">Document Name:</td>
                        <td>{{ file.file_name }}</td>
                    </tr>
                    <tr>
                        <td width="155">Date Created:</td>
                        <td>{{ flow.initiate_time | dtformat(timezone) }} </td>
                    </tr>
                    <tr>
                        <td width="155">Pages:</td>
                        <td>{{ file.total_pages }}</td>
                    </tr>
                    <tr>
                        <td width="155">Size:</td>
                        <td>{{ file.file_size }}</td>
                    </tr>
                    <tr>
                        <td width="155">Status:</td>
                        <td>{{ flow.flow_status }}</td>
                    </tr>
                    <tr>
                        <td width="155">Owner:</td>
                        <td><span>{{ owner.first_name }}</span>
                            <span>{{ owner.last_name }}</span> ({{ owner.email }}) </td>
                    </tr>
                    <tr>
                        <td>Signers:</td>
                        <td>
                            {% for signer in signer_list %} {% if loop.index != 1 %}
                            <span>, </span> {% endif %}
                            <span>{{ signer.email }}
                                </span> {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Time Zone:</td>
                        <td>{{ timezone | tzformat }}</td>
                    </tr>
                </tbody>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:40px">
                <tbody>
                    <tr>
                        <td height="25"></td>
                    </tr>
                    <tr>
                        <td height="25" style="font-size:18px;color:#1c9fd9; vertical-align: top;">Activity History</td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                </tbody>
            </table>

            {% for signer in signer_list %}
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td colspan="2" height="40" style="font-size:16px; color:#666;">{{ signer.email }}</td>
                    </tr>
                    {% if signer.first_name or signer.last_name %}
                    <tr>
                        <td width="155">Name:</td>
                        <td><span>{{ signer.first_name }}</span>
                            <span>{{ signer.last_name }}</span>
                        </td>
                    </tr>
                    {% endif %} {% if signer.initiated %}
                    <tr>
                        <td width="155">Created:</td>
                        <td>{{ signer.initiated.operate_time | dtformat(timezone) }} </td>
                    </tr>
                    {% endif %} {% if signer.prepared %}
                    <tr>
                        <td width="155">Prepared:</td>
                        <td>{{ signer.prepared.operate_time | dtformat(timezone) }} </td>
                    </tr>
                    {% endif %} {% if signer.viewed %}
                    <tr>
                        <td width="155">Viewed:</td>
                        <td>{{ signer.viewed.operate_time | dtformat(timezone) }} </td>
                    </tr>
                    {% endif %} {% if signer.agreement %}
                    <tr>
                        <td width="155">Agreement signed:</td>
                        <td>{{ signer.agreement.operate_time | dtformat(timezone) }} </td>
                    </tr>
                    {% endif %} {% if signer.signed %}
                    <tr>
                        <td width="155">Signed:</td>
                        <td>{{ signer.signed.operate_time | dtformat(timezone) }} </td>
                    </tr>
                    {% endif %} {% if signer.completed %}
                    <tr>
                        <td width="155">Completed:</td>
                        <td>{{ signer.completed.operate_time | dtformat(timezone) }} </td>
                    </tr>
                    {% elif signer.sent %}
                    <tr>
                        <td width="155">Sent:</td>
                        <td>{{ signer.sent.operate_time | dtformat(timezone) }} </td>
                    </tr>
                    {% endif %} {% if signer.ip %}
                    <tr>
                        <td width="155">IP Address:</td>
                        <td>{{ signer.signed.operate_ip }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2" height="5"></td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>

    </section>
</body>

</html>